*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-1: #f0ead2;
    --color-2: #dde5b6;
    --color-3: #adc178;
    --color-4: #a98467;
    --color-5: #6c584c;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    background-color: var(--color-1);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-top: 20px;
    color: var(--color-5);
}

.formulario{
    width: 90%;
    padding: 20px;
    background: linear-gradient(90deg, var(--color-4), var(--color-2));
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px var(--color-5);
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
    /* max-width: 600px; */
    border: 2px outset var(--color-4);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px var(--color-5);
}
.datos{
    display: flex;
    flex-direction: column;
}
.datos label{
    margin-bottom: 10px;
}

input{
    padding: 10px 20px;
    width: 100%;
    border: 2px solid var(--color-5);
    border-radius: 20px;
    background-color: var(--color-2);
    color: var(--color-5);
    text-align: right;
}
textarea{
    padding: 10px 20px;
    width: 100%;
    border: 2px solid var(--color-5);
    border-radius: 10px;
    background-color: var(--color-2);
    color: var(--color-5);
    text-align: right;
    resize: vertical;
    
}

.boton{
    display: flex;
    font-size: 1rem;
    margin-top: 20px;
}

button{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    margin: auto;
   
    background-color: var(--color-3);
    color: var(--color-5);
    border: 2px solid var(--color-5);
    border-radius: 20px;
}
input:hover{
    background-color: var(--color-3);
    border-color: var(--color-4);
}
textarea:hover{
    background-color: var(--color-3);
    border-color: var(--color-4);
}
button:hover{
    background-color: var(--color-2);
    color: var(--color-4);
    border-color: var(--color-4);
}

/* media query */

@media screen and (min-width: 576px){
    form{
        display: grid;
        grid-template-columns: 1fr 1fr; /* dos columnas */
    }
    .image{
        grid-column: span 2;
    }
    .boton{
        grid-column: span 2;
    }
}

@media screen and (min-width: 768px){
    input{
        padding: 15px;
        font-size: 20px;
    }
    button{
        font-size: 20px;
        padding: 15px 30px;
    }
}

@media screen and (min-width: 992px){
    .datos{
        position: relative;
    }
    .datos label {
        position: absolute;
        top: -12px;
        left: 10px;
        padding: 0 5px;
        font-size: 15px;
    }
    input{
        padding-top: 20px;
    }

    .image img{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px){
    .formulario{
        width: 50%;
        margin: 10px auto;
        border: 2px solid var(--color-5);
        padding: 30px;
        border-radius: 10px;
    }
    .image img{
        border-radius: 10px;
    }
}

@media screen and (min-width: 1400px){
    form{
        gap: 50px;
    }
    .boton{
        margin-top: 30px;
    }
}
